<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/main.css">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <head>
    header goes here
  </head>
  <nav>navigation here</nav>
  <section>a sectin</section>
  <article>article</article>
  <aside>aside</aside>
  <footer>footer</footer>
  <!-- bower:js -->
  <!-- end bower -->
</body>
